body {
    background: black;
    color: #ffdcbc;
    font-family: sans-serif;
    font-size: 16px;
    margin: 1em;
}

main {
    max-width: 700px;
    margin: 0 auto;
    padding: 2em;
}

header {
    text-align: center;
}

footer {
    max-width: 700px;
    display: flex;
    justify-content: space-between;
    margin: 32px auto 16px auto;
}

h1,
h2 {
    color: orange;
    font-family: 'Playfair Display', 'Times New Roman', Times, serif;
}

a {
    text-decoration-line: none;
}

a:link {
    color: lightcyan;
}

a:visited {
    color: #afb6f1;
}

a:hover {
    opacity: 0.8;
}

a:active {
    color: lightpink;
}

p {
    line-height: 1.5em;
}

input[type=text] {
    background: #222222;
    border: none;
    border-bottom: 1px solid #ffdcbc;
    color: #ffdcbc;
    margin: 4px 0;
    padding: 8px;
}

input[type=text]:focus {
    color: white;
    background: #333333;
    outline: none;
}

#noscript {
    padding: 24px;
    background-color: orange;
    color: #000000dd;
}

@media only screen and (min-width: 700px) {
    h1 {
        font-size: 5em;
    }
}
