#kalkulator {
    margin: 48px 0;
}

#input div {
    display: flex;
    flex-direction: column;
    margin: 16px 0;
}

#result {
    display: block;
    font-size: 2em;
    line-height: 1.5em;
    height: 1.5em;
}

input[type=text] {
    word-spacing: 0.5em;
}